
body{
    text-align: center;
}
#Bio{
    font-size: 15pt;
    font-weight: bold;
    color: black;
}
em{
    font-family: sans-serif;
    font-size: 30pt;
    color: deeppink;
}
h1{
    font-family: sans-serif;
    font-size: 80pt;
    margin: .2em;
    color: darkgoldenrod;
}
.Picker{
    color: darkgoldenrod;
    font-family: sans-serif;
    font-weight: bold;
}
div{
    border: 8px solid goldenrod;
    width:150px;
    height:100px;
    margin: 1em;
}

table,tr,td{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
    margin: auto;
}
tr{
    height: 20px;
}
td{
    width: 20px;
}